/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204)
}
h1{
	text-align:center
}
.task1{
	border:1px solid black;
	border-radius:10px;

	background-color:white

}
li{
	
	list-style-type: none;
}
h2{
	text-align:center
}
.task2{
	border-radius:10px;
	background-color:white;
	border:1px solid black;
	padding:10px;
	text-align:center;
	margin:40px;
}
p{
	text-align:start;
}
.playerone,.playertwo{
	width:100%;
}



	
